<div class="container-fluid">
    <div class="row">
        <div class="col-12 sitie_header ">
            <div class="row">
                <div class="col-12 posicion">
                    <div class="row">
                        <div class="col-6">
                            <div class="row combi">
                                <div class="col-12">
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col">
                            <MARQUEE> Home cooks are our heroes </MARQUEE>
                        </div>
                        {{!-- clase fon --}}
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 m-0 p-0">
                                    <div class="col-12 footer ">
                                        <div class="row">
                                            <div class="col-6 p-4">

                                                <div class="h2  font-weight-bold">Who we are?</div>
                                                <div class="linea text-center mt-4 mb-4"></div>
                                                <div class="headline6"></div>
                                            </div>
                                            <div class="col-6 p-4">
                                                <p>Home cooks are our heroes</p>
                                                it's as simple as that. Allrecipes is
                                                a community built by and for kitchen experts: The cooks
                                                who will dedicate two days to a perfect beef bourguignon but
                                                love the simplicity of a slow-cooker rendition, too.
                                                The bakers who labor over a showstopping 9-layer cake but will just
                                                as happily doctor boxed brownies for a rich weeknight dessert.
                                                The entertainers who just want a solid snack spread,
                                                without spending the whole evening shuffling dishes in and
                                                out of the oven. </p>
                                            </div>
                                            <div class="col-12 mt-5">
                                                <section class="margin-400">
                                                    <img src=".././images/sarten.jpg" alt="img" title="img">
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>