<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 p-5">

                            <div class="headline1"></div>
                            <div class="headline2"></div>
                            <h1 class="display-1 p-1 mx-5 fw-bold">
                                GOOD FOOD
                                GOOD MOOD

                            </h1>
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-6 ">
                            Born more than 40 years ago as Mr. Natural's Good Food Store, we're still Missoula's home
                            for
                            locally-produced, organic
                            and bulk foods. Now our name's a little shorter. And the store’s a lot bigger. But our
                            mission
                            remains the same:
                            <div class="mt-4"><a href="/user/about" class="enlace">Read More</a></div>

                        </div>
                        <div class="col-6 border-start border-4 border-warning bto">
                            <em>The Good Food Store is dedicated to supporting a healthy community. We provide a wide
                                selection of
                                organic food and
                                natural products, conduct our business in an ethical and respectful manner and donate to
                                organizations in need.</em>


                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img src=".././images/orange-rosemary-glazed-salmon3-srgb.-1-e1481138855279-removebg-preview.png"
                        class="img1" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 p-5 mb-5 m-5">
            <div class="row">
                <div class="col-12 pad bor">
                    <div class="row">
                        <div class="col-6 w-50">
                            <h2 class="display-6 fw-bold">CHOOSING GOOD
                                JUST GOT EASIER.
                            </h2>
                        </div>
                        <div class="col-10">
                            <p>Our beef, chicken and turkey are raised without antibiotics and never given added
                                hormones.
                                They
                                are
                                never
                                fed animal
                                byproducts. Our nitrate-free, uncured bacon comes from pigs that are never given any
                                antibiotics
                                or
                                hormones
                                and are
                                vegetarian fed. We only use ingredients that we would serve our own families. We do the
                                worrying
                                –
                                so you
                                don’t have to.</p>

                        </div>
                        <div class="headline3 p-3">
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 margenT">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class=" col-6">
                            <div class="row m-5">
                                <div class="col-12 w-75">
                                    <h2 class="display-6 fw-bold">EATING WELL SHOULD TASTE GOOD, TOO.</h2>
                                </div>
                                <div class="col-12">
                                    <p> That’s why our recipes are created by a real chef. Our test kitchen is a real
                                        restaurant. Our
                                        ingredients are the best
                                        we can find—organic whenever possible. And we add nothing unnecessary. Ever.
                                        There’s no
                                        need
                                        when you start with
                                        ingredients whose flavors stand out naturally.</p>
                                    <div><a href="/user/about" class="enlace">Read More</a></div>


                                </div>
                                <div class="headline4"></div>



                            </div>
                        </div>
                        <div class="col-6">
                            <img src=".././images/polloalbahaca.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row align-items-center">

                        <div class="col-6">
                            <img src=".././images/tataki de atun.jpg" class="imgF" alt="" srcset="">
                        </div>
                        <div class="col-6">
                            <div class="row m-5">
                                <div class="col-12 w-75">
                                    <h2 class="display-6 fw-bold">EATING WELL SHOULD
                                        BE SIMPLE.</h2>
                                </div>
                                <div class="col-12">
                                    <p> Yet finding the time to make delicious, wholesome meals is hard. We’re changing
                                        that—one mouthwatering meal at a time.
                                        By preparing simple recipes you can feel good about eating, that are ready in
                                        minutes. And taste better than you ever
                                        thought frozen food could.</p>
                                    <div><a href="/user/about" class="enlace">Read More</a></div>

                                </div>
                                <div class="headline4"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-5 p-5 mb-5 m-5">
                    <div class="row">
                        <div class="col-12 pad margenT">
                            <div class="row">

                                <div class="col-10">
                                    <div><i class="bi bi-quote quo"></i></div>

                                    <p>"Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur,
                                        mauris in auctor euismod, quam elit
                                        ultrices urna, eget eleifend arcu risus id metus. Maecenas ex enim, mattis eu
                                        velit vitae, blandit mattis sapien. Sed
                                        aliquam leo et semper vestibulum."</p>


                                </div>
                                <div class="headline3 p-3"></div>
                                <div class="col-6 ">
                                    <h2 class="display-6 pF w-75 mt-4 fw-bold">CJack Alvarez
                                        Chief Accountant
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>