<div class="container">
    <div class="row">
<<<<<<< HEAD

        <h1>holaaa</h1>
=======
        <h1>hola a todos esto es la pagina de inicio</h1>
>>>>>>> f97ac3c014dd30f91d97bd1a52b4a82ee6838afb
    </div>
</div>