<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light p-4 mb-5">
      <div class="container-fluid">
         <a class="navbar-brand me-auto" href="/">Navbar</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               <li class="nav-item mx-4">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
               </li>
               <li class="nav-item mx-4">
                  <a class="nav-link" href="/ingredient/list">Recipe</a>
               </li>
               <li class="nav-item mx-4">
                  <a class="nav-link" href="#">About</a>
               </li>
               <li class="nav-item dropdown mx-4 me-5">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="bi bi-person-circle"></i>
                     Login
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="/user/registro">Register</a></li>
                     <li><a class="dropdown-item" href="/user/inicio-sesion">Sign in</a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li class="nav-item">
                        <form action="/user/cerrar-sesion" method="POST">
                           <button class="nav-link">Cerrar Sesion</button>
                        </form>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>

   {{{body}}}

   <footer>
      <div class="col-12">
         <div class="row">
            <div class="col-12 mt-5">
               <div class="row">
                  <div class="col-6 text-center">
                     <p class="mb-2">Siguenos en nuestras redes sociales</p>
                     <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="bi bi-whatsapp"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></i></a></li>
                     </ul>
                  </div>
                  <div class="col-6 text-center">
                     <p class="mb-2">Contáctenos:</p>
                     <p>fransan990@gmail.com</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   <script src="/js/script.js"></script>
</body>

</html>