body {
  font-family: 'Krub',
    sans-serif;
  font-weight: 300;
  overflow-x: hidden;

}

.em {
  color: #ffc107;
  font-weight: bold;
}

.bto {
  position: relative;
  top: 13px;
}

em {
  color: darkgrey;
}


.pad {
  padding: 30px;
  padding-left: 70px;
  margin-top: 55px;
}

.bor {

  border-left: 4px solid #ffc107;
  height: 250px;
}

.margenT {
  margin-top: 125px;
}

.quo {
  color: #ffc107;
  font-size: 100px;
}

.headline {
  z-index: 2;
  background-color: red;
  position: relative;
  bottom: 250px;

}

.headline3 {
  z-index: -1;
  position: relative;
  width: 550px;
  height: 350px;
  padding: 30px;
  background: #f8f9fa;
  bottom: 240px;
  left: 634px;

}

.imgF {
  height: 599px;
  width: 755px;
}

.headline4 {
  z-index: -1;
  position: relative;
  width: 247px;
  height: 110px;
  padding: 30px;
  background: #ffc107;
  bottom: 270px;
  left: 378px;

}

.headline5 {
  z-index: -1;
  position: relative;
  width: 336px;
  height: 900px;
  padding: 30px;
  background: #ffc107;
  bottom: 790px;
  left: 260px;

}

.headline6 {
  z-index: -1;
  position: relative;
  width: 360px;
  height: 101px;
  padding: 30px;
  background: #ffc107;
  bottom: 81px;
  left: 116px;

}


.detailsMap {
  position: relative;
  bottom: 600px;
}

.marDe {
  margin-top: 150px;
}

.headline1 {
  z-index: -1;
  top: 150px;
  background-color: #ffc107;
  position: relative;
  padding: 50px;
  width: 400px;
  font-weight: 900;

}

.comDetails {
  position: relative;
  bottom: 700px;
  left: 350px;
}

.enlace {
  color: black;
  border-bottom: 4px solid #ffc107;
  text-decoration: none;
  font-weight: bold;


}

.enlace:hover {
  color: #ffc107;
  border-bottom: 4px solid white;
  transition: all .4s;
}

.headline2 {
  border: 5px solid black;
  width: 200px;
  margin-left: 43px;
}

.pF {
  Position: relative;
  right: 550px;
}

.img1 {
  height: 1000px;
  position: absolute;
  bottom: 3px;
  z-index: -1;
  width: 1050px;
}

#preparation {
  width: 1095px;
  height: 100px;
}

.card img {
  width: 414px;
  height: 300px;
}

.card {
  height: 600px;
}

.card:hover {
  border: 4px solid #ffc107;
}

.card-body {
  padding: 0px;
  height: 400px;
}



.card img:hover {
  transition: all 3s;
  transform: scale(1.1);
}



input[name="form"]:focus {
  border-color: #ffc107;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075);
  inset: 0 0 8px rgba(255, 144, 0, 0.6);
  outline: 0 none;
}

.imgD {
  width: 500px;
  height: 45s0px;
}


.card-footer {
  background-color: #f8f9fa;
}

footer {
  background-color: #f8f9fa;
  color: white;
  text-align: center;
  font-size: .7em;
  padding: 15px;
  margin-top: 25px;
  width: 100%;
  bottom: 0;
  position: relative;
}

footer .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #00bb2d;
}

.product:hover {

  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.restuarantsMap {
  height: 600px;
  background-color: red;
}

.fon {
  background-color: #ffc107;
  padding: 20px;
}

.caja2 {
  background-image: url("images/sarten.jpg");
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 130px;
}

.caja2_1 {
  margin-top: 130px;
  display: block;
  margin-left: 20px;
}

.col-6 {
  color: #000000;
}