<div class="container">
    <h2>Recetas</h2>

    <hr>

    <ul>
        {{#each recipe}}
        <li class="row">
            <h3>{{name}}</h3>
            <a href="/recipe/{{id}}/edit" class="btn btn-dark">Edit</a>

            <form action="/recipe/{{id}}/delete" method="POST">
                <button class="btn btn-sm btn-warning" type="submit">Delete</button>
            </form>


        </li>
        {{/each}}
    </ul>
    <a href="/" class="btn btn-dark">Home</a>

</div>